<div #viewport class="viewport__container" (wheel)="onWheel($event)" (mousemove)="onMouseMove($event)"
    (document:mousedown)="onDocMouseDown($event)" (document:mousemove)="onDocMouseMove($event)"
    (document:mouseup)="onDocMouseUp($event)">

    <div class="canvas" (dblclick)="onDblClick($event)">

        <svg class="dot__background" preserveAspectRatio="none">
            <defs>
                <pattern id="dots" patternUnits="userSpaceOnUse" [attr.width]="baseStep" [attr.height]="baseStep"
                    [attr.patternTransform]="'translate(' + ox + ',' + oy + ') scale(' + scale + ')'">
                    <circle [attr.cx]="baseStep/2" [attr.cy]="baseStep/2" [attr.r]="dotR"
                        [attr.fill]="'var(--background-color-300)'"></circle>
                </pattern>
            </defs>

            <rect x="0" y="0" width="100%" height="100%" [attr.fill]="'var(--background-color-50)'"></rect>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#dots)"></rect>
        </svg>

        <div class="world" [style.transform]="'translate(' + ox + 'px,' + oy + 'px) scale(' + scale + ')'"
            style="transform-origin: 0 0;">

            <svg class="wires">
                <g *ngFor="let l of links">
                    <path class="wire" [attr.d]="l.d"></path>
                    <path class="wire-hit" [attr.d]="l.d" (mouseenter)="enterLink(l)" (mouseleave)="leaveLink()"></path>
                </g>

                <path class="wire wire--preview" *ngIf="pendingLink" [attr.d]="pendingPreviewD"></path>
            </svg>

            <div class="link-toolbar" *ngIf="hoveredLink && hoveredLink.mid" [style.left.px]="hoveredLink.mid!.x"
                [style.top.px]="hoveredLink.mid!.y" (mousedown)="$event.stopPropagation()"
                (click)="$event.stopPropagation()" (mouseenter)="enterToolbar()" (mouseleave)="leaveToolbar()">
                <button class="link-btn" title="Insérer un nœud" (click)="splitLink(hoveredLink!)">
                    <i class="pi pi-plus"></i>
                </button>
                <button class="link-btn" title="Supprimer le lien" (click)="removeLink(hoveredLink!)">
                    <i class="pi pi-trash"></i>
                </button>
            </div>

            <app-node class="node" *ngFor="let n of nodes" [attr.data-node-id]="n.id" [style.left.px]="n.x"
                [style.top.px]="n.y" [style.width.px]="nodeSize" [style.height.px]="nodeSize"
                (mousedown)="startDrag($event, n)" (mouseenter)="enterNode(n)" (mouseleave)="leaveNode()"
                [class.is-dragging]="draggingNode?.id === n.id" [item]="n">
            </app-node>

            <!-- TOOLBAR NŒUD -->
            <div class="node-toolbar" *ngIf="hoveredNode" [style.left.px]="hoveredNode!.x + nodeSize/2"
                [style.top.px]="hoveredNode!.y" (mousedown)="$event.stopPropagation()"
                (click)="$event.stopPropagation()" (mouseenter)="enterNodeToolbar()" (mouseleave)="leaveNodeToolbar()">

                <!-- autres actions possibles ici (play, power, menu...) -->
                <button class="nt-btn" title="Supprimer le nœud" (click)="deleteNode(hoveredNode!)">
                    <i class="pi pi-trash"></i>
                </button>
                <button class="nt-btn" title="Paramétrer le nœud">
                    <i class="pi pi-cog"></i>
                </button>
            </div>
        </div>
    </div>
</div>